/String.class
/Stroki.class
/Stroki101.class
/Copmare102.class
/Compare.class
/Compare102.class
/Devide103.class
/Divide103.class
/Leap104.class
/Weight.class
/Rur106.class
/Week.class
/DayFormula.class
/SumFraction.class
/Factorial.class
/sqrt.class
/Kvadrat.class
/Sum.class
/Calc.class
/Test.class
/Menu.class
